_site/
/.quarto/
_freeze/
.task/
node_modules/
.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
*.quarto_ipynb
site_libs/
src/docs/*.html
src/*.html
src/*-listing.json
.cache-data.db
.cache-state.db

**/*.quarto_ipynb
