include LICENSE
include README.md
include pyproject.toml
include jupyter-config/jlab_redir_from_url_query_params.json

include package.json
include install.json
include ts*.json
include yarn.lock

graft jlab_redir_from_url_query_params/labextension

# Javascript files
graft lib
graft style
prune **/node_modules

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
